<!DOCTYPE html>
<html lang="ro">

<head>
  <title>Pagehaven - </title>
  <meta name="description" content="Descarcă cărți PDF gratuit în română și engleză pe 
      Pagehaven. Romance, Fantasy, Thriller — sute de titluri gratuite te așteaptă!">
  <meta name="keywords" content="descarca carti PDF gratuit, carti online gratuite PDF, 
      carti PDF romance, carti PDF fantasy, carti PDF thriller, carti in romana PDF, 
      carti in engleza PDF,  Colleen Hoover, Sarah J. Maas, Alex Michaelides, 
      biblioteca digitala gratuita">

  <%- include('../fragmente/head.ejs') %>
  <link rel="stylesheet" href="/resurse/css/carti/galerie.css">
</head>

<body>
  <%- include('../fragmente/header.ejs') %>
    <main>
      <section id="galerie-statica-carti">
        <h2> Exemple de carti disponibile pe Pagehaven:</h2>
        <div id="grid-galerie">
          <% for (let imag of locals.imagini) { %>
              <figure>
                <picture>
                  <source srcset="<%- imag.fisier_mic %>" media="(max-width: 600px)">
                  <source srcset="<%- imag.fisier_mediu %>" media="(max-width: 1100px)" />
                  <img src="<%- imag.fisier %>" alt="<%- imag.alt %>" title="<%- imag.descriere %>">
                </picture>
              <figcaption><%- imag.descriere %></figcaption>
              </figure>
          <% } %>
        </div>
      </section>
    </main>
    <%- include('../fragmente/footer.ejs') %>
</body>

</html>