<header>
  <h1>
    <a href="/" id="logo">
      <img src="/resurse/imagini/sigla.png" alt="Logo Pagehaven - bibliotecă digitală gratuită cărți PDF" />
      <em> Page<span style="color:#78a4b9">haven</span></em>
    </a>
  </h1>

  <input type="checkbox" id="ch-menu" />
  <label id="hamburger" for="ch-menu">
    <div class="hamburger-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </label>


  <nav aria-label="Meniu principal" class="meniu-mobil">
    <ul class="meniu">

      <li class="<%= (locals.pagina_curenta == 'index') ? 'activ-li' : '' %>">
        <a href="/" class="<%= (locals.pagina_curenta == 'index') ? 'activ' : '' %>">
          <i class="fa-solid fa-house icon-acasa"></i>
          <span class="text-acasa">Acasă</span>
        </a>
        <ul>
          <li><a href="/#noutati">Noutăți</a></li>
          <li><a href="/#recente">Adăugate recent</a></li>
          <li><a href="/#carti-populare">Cărți populare</a></li>
        </ul>
      </li>

      <!-- <li><a href="/carti/lista">Produse</a></li>
      <li><a href="/carti/lista?gen=romance">Romance</a></li>
      <li><a href="/carti/lista?gen=fantasy">Fantasy</a></li>
      <li><a href="/carti/lista?gen=thriller">Thriller</a></li> -->

      <li class="<%= (locals.pagina_curenta == 'carti') ? 'activ-li' : '' %>">
        <a href="/carti" class="<%= (locals.pagina_curenta == 'carti') ? 'activ' : '' %>">
          <i class="fa-solid fa-book-open"></i> <span class="text-meniu">Cărți</span></a>
        <ul>
          <li><a href="/carti/lista">Toate</a></li>
          <% if (locals.optiuni && locals.optiuni.length> 0) { %>
            <% for (let opt of locals.optiuni) { %>
              <li><a href="/carti/lista?gen=<%= opt.unnest %>">
                  <%= opt.unnest %>
                </a></li>
              <% } %>
                <% } %>
        </ul>
      </li>

      <li class="<%= (locals.pagina_curenta == 'echipa') ? 'activ-li' : '' %>">
        <a href="/echipa" class="<%= (locals.pagina_curenta == 'echipa') ? 'activ' : '' %>">
          <i class="fa-solid fa-user-group"></i> <span class="text-meniu">Despre noi</span></a>
        <ul>
          <li><a href="/echipa">Echipa</a></li>
          <li><a href="/#faq">Întrebări frecvente</a></li>
          <li><a href="/#video">Recenzii video</a></li>
        </ul>
      </li>

      <li class="<%= (locals.pagina_curenta == 'produse') ? 'activ-li' : '' %>">
        <a href="/produse" class="<%= (locals.pagina_curenta == 'produse') ? 'activ' : '' %>">
          <i class="fa-solid fa-cake-candles"></i> <span class="text-meniu">Produse</span>
        </a>
        <ul>
          <li><a href="/produse">Toate</a></li>
          <li><a href="/produse?tip=cofetarie">Prajituri</a></li>
          <li><a href="/produse?tip=gelaterie">Torturi</a></li>
          <li><a href="/produse?tip=patiserie">Patiserie</a></li>
        </ul>
      </li>

      <li><a href="/#contact">
          <i class="fa-solid fa-phone"></i> <span class="text-meniu">Contact</span></a>
      </li>
    </ul>

    <div class="butoane-auth">
      <a href="/login" class="btn-login">Intră în cont</a>
      <a href="/register" class="btn-register">Înregistrare</a>
    </div>

  </nav>
</header>